## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,College,US,62.58,broken clouds,64.8569,-147.8028,Pike's Waterfront Lodge
1,6,Avarua,CK,77.05,light rain,-21.2078,-159.7750,Paradise Inn
2,7,Rikitea,PF,73.94,broken clouds,-23.1203,-134.9692,Pension Maro'i
3,8,Nikolskoye,RU,66.09,clear sky,59.7035,30.7861,Tourist House - Sablino
4,11,Saint-Philippe,RE,74.75,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#Note: found useful video to help with these solutions:
#https://www.youtube.com/watch?v=xvpNA7bC8cs&t=1104s

vacation_start = vacation_df.loc[vacation_df.City=='Gainsborough']
vacation_end = vacation_df.loc[vacation_df.City=='Gainsborough']
vacation_stop1 = vacation_df.loc[vacation_df.City=='Aberystwyth']
vacation_stop2 = vacation_df.loc[vacation_df.City=='Newport'] 
vacation_stop3 = vacation_df.loc[vacation_df.City=='Salisbury']

In [31]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

#Note: found useful video to help with these solutions:
#https://www.youtube.com/watch?v=xvpNA7bC8cs&t=1104s

start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [63]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

Gainsborough = start
Aberystwyth = stop1
Newport = stop2
Salisbury = stop3 

Itinerary = gmaps.directions_layer(Gainsborough, Gainsborough, 
        waypoints=[Aberystwyth, Newport, Salisbury],
        travel_mode="DRIVING")


fig = gmaps.figure(center=(52, -1), zoom_level = 6.5)
fig.add_layer(Itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,375,Gainsborough,GB,65.71,clear sky,53.3833,-0.7667,Hickman Hill Hotel
1,648,Aberystwyth,GB,64.31,clear sky,52.4155,-4.0829,Aberystwyth Park Lodge Hotel
2,594,Newport,GB,64.33,broken clouds,51.5877,-2.9984,ibis budget Newport
3,449,Salisbury,GB,64.45,broken clouds,51.0693,-1.7957,Mercure Salisbury White Hart Hotel

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(52, -1), zoom_level = 7)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))